streamlit_tags==1.2.8
stqdm==0.0.5

XlsxWriter
pandas
numpy
datetime

requests
lxml
lxml_html_clean 

goose3
newspaper3k
Webtrench

spacy
catalogue
cymem
jinja2
langcodes
murmurhash
packaging
preshed
pydantic
requests
setuptools
spacy-legacy
spacy-loggers
srsly
thinc
tqdm
typer
wasabi
weasel


