streamlit_tags==1.2.8
stqdm==0.0.5

XlsxWriter==3.2.0
pandas
numpy
datetime==5.4

requests
lxml
lxml_html_clean

goose3
newspaper3k
Webtrench

spacy==3.8.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0.tar.gz
